@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,600;0,800;0,900;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Header font */
:root {
  --header-font: "Overpass", sans-serif;
}

@layer components {
  body {
    min-height: 100vh;
    max-width: 100vw;
    @apply relative;
    @apply bg-gray-900;
    @apply overflow-x-hidden;
  }
  h1,
  h2 {
    font-family: var(--header-font);
    font-weight: 900;
    @apply w-full;
  }
  h1 a,
  h2 a {
    @apply text-green-400 text-opacity-100;
  }
  a {
    @apply text-gray-400 hover:text-gray-50;
    @apply transition-colors ease-in-out duration-200;
  }
  body > header {
    @apply w-full h-24 px-12;
    @apply flex justify-between items-center;
    @apply bg-gray-900 text-white;
  }
  body > header h1 {
    @apply text-2xl tracking-widest;
  }
  body > header nav:not(.mobile) {
    @apply w-full;
    @apply flex justify-end;
    @apply font-bold;
  }
  body > header nav:not(.mobile) a {
    @apply text-gray-400 hover:text-gray-50;
    @apply hidden md:inline;
  }
  body > header nav:not(.mobile) a.mobile {
    @apply inline md:hidden;
  }
  body > header nav:not(.mobile) a.active {
    @apply text-green-400;
  }
  body > header nav:not(.mobile) :not(:last-child) {
    @apply mr-4;
  }
  body > header nav.mobile {
    @apply fixed top-[-100vh] left-0;
    @apply w-full h-full;
    @apply md:hidden flex flex-col justify-center items-center z-30;
    @apply bg-gray-600;
    @apply font-bold text-2xl;
    @apply shadow-2xl;
    @apply transition-all ease-in-out duration-500;
  }
  body > header nav.mobile.active {
    @apply top-0;
  }
  body > header nav.mobile a {
    @apply text-gray-400 hover:text-gray-50;
  }
  body > header nav.mobile a.active {
    @apply text-green-400;
  }
  body > main {
    @apply w-full h-full;
    @apply md:p-3 md:px-12 pb-[15.5rem] md:pb-[14.5rem] pt-3 md:pt-3;
    @apply text-white;
  }
  body > main > .banner {
    @apply absolute left-0;
    @apply w-full;
    @apply flex flex-row justify-around items-center flex-wrap;
    @apply py-16 px-6 md:px-0;
    @apply bg-gray-800;
  }
  body > main > .header {
    @apply ml-4 md:ml-0;
  }
  body > footer {
    @apply absolute bottom-0;
    @apply w-[100vw] h-[13.5rem];
    @apply flex flex-col items-center justify-center;
    @apply bg-gray-800;
  }
  body > footer section.content {
    @apply flex flex-row justify-between;
    @apply w-[100vw];
    @apply p-4 pt-8;
    @apply text-white;
  }
  body > footer section.content h1 {
    @apply text-[2.33rem];
    @apply mb-2;
  }
  body > footer section.content .blabber {
    @apply flex flex-col items-center justify-center md:justify-start;
    @apply w-full my-0 text-center;
    @apply md:w-[25%] min-w-[24rem] md:mr-[15rem] md:ml-8 md:text-left;
    @apply text-lg;
  }
  body > footer section.content .blabber p {
    @apply w-[70%] md:w-full;
  }
  body > footer section.content ul {
    @apply w-[15%];
    @apply hidden md:block;
  }
  body > footer section.content ul a {
    @apply text-gray-400 hover:text-gray-50;
  }
  body > footer hr {
    width: calc(100% - 2.5rem);
    @apply border-gray-900;
  }
  body > footer section.closing {
    @apply px-12 mt-4 mb-4;
    @apply w-full;
    @apply flex flex-row justify-between items-center;
    @apply text-green-400;
  }
  main > section.error {
    @apply absolute left-0;
    @apply w-full h-[60%];
    @apply mb-16 p-8;
    @apply flex flex-col;
    @apply bg-no-repeat bg-center bg-contain;
  }
  main > section.error h1 {
    @apply text-4xl;
  }
  main > section.error p {
    @apply text-xl;
  }
  main > section.scroller {
    @apply w-full;
    @apply mt-8;
    @apply flex flex-row justify-around items-center flex-wrap;
    @apply pl-4;
  }
  div.popup {
    @apply fixed top-0 left-0 z-50;
    @apply w-full h-full;
    @apply flex flex-col justify-center items-center;
    @apply bg-white bg-opacity-30;
    @apply cursor-pointer;
  }
  div.popup > .content {
    @apply cursor-default;
  }
  .video {
    @apply relative;
  }
  .video video {
    @apply w-full h-full;
    @apply z-10;
    @apply cursor-pointer;
  }
  .video .video-container {
    @apply absolute bottom-0;
    @apply w-full;
    @apply flex flex-row justify-between items-center;
    @apply z-20;
    @apply pb-4;
    @apply select-none;
  }
  .video .video-container .controls {
    @apply ml-4;
    @apply text-gray-200 text-opacity-80;
    @apply shadow-2xl;
    @apply cursor-pointer;
  }
  .video .video-container .time {
    @apply mx-4;
    @apply w-full;
    @apply flex flex-row justify-between items-center;
  }
  .video .video-container .time span {
    @apply text-gray-200 text-opacity-80;
    @apply shadow-2xl;
  }
  .video .video-container .time .bar {
    @apply h-3 w-full;
    @apply mx-4;
    @apply bg-gray-900;
    @apply rounded-full shadow-2xl;
    @apply cursor-pointer;
  }
  .video .video-container .time .bar .inner {
    @apply h-full;
    @apply bg-green-500;
    @apply rounded-full;
  }
  .embed {
    @apply w-[20rem] h-[18rem];
    @apply mb-8 mx-4;
    @apply flex flex-col justify-evenly items-center;
    @apply bg-white border-2 border-gray-500;
    @apply rounded-2xl shadow-2xl;
    @apply transition-all duration-300 ease-in-out;
  }
  .embed:hover {
    @apply scale-105;
  }
  .embed.loading .header {
    @apply mt-0;
    @apply animate-pulse;
    @apply cursor-default;
  }
  .embed.loading .text h2 {
    @apply rounded-full;
    @apply bg-gradient-to-r from-gray-400 via-gray-300 to-gray-400;
    -webkit-animation: skeleton 3.25s ease-in-out infinite;
            animation: skeleton 3.25s ease-in-out infinite;
  }
  .embed.loading .text p {
    @apply relative;
    @apply mt-2;
    -webkit-animation: skeleton 3.5s ease-in-out infinite;
            animation: skeleton 3.5s ease-in-out infinite;
  }
  .embed.loading .text p::after, .embed.loading .text p::before {
    content: " ";
    @apply absolute;
    @apply z-30;
    @apply w-full h-[1.25rem];
    @apply rounded-full;
    @apply bg-gradient-to-r from-gray-400 via-gray-300 to-gray-400;
    -webkit-animation: skeleton 3.5s ease-in-out infinite;
            animation: skeleton 3.5s ease-in-out infinite;
  }
  .embed.loading .text p::after {
    @apply top-[50%] mt-[0.15rem] w-[70%];
  }
  .embed .header {
    @apply h-[10rem] w-full;
    @apply mt-[2px];
    @apply bg-gray-600;
    @apply rounded-[0.85rem] rounded-b-none;
    @apply bg-center bg-no-repeat bg-cover;
    @apply cursor-pointer;
  }
  .embed .text {
    @apply w-full h-[8rem];
    @apply px-2 py-3;
    @apply text-gray-900;
  }
  .embed .text h2 {
    @apply w-full;
    @apply text-2xl font-bold;
    @apply mb-1;
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }
  .embed .text h2 a {
    @apply text-gray-800;
  }
  .embed .text p {
    line-height: 1.5rem;
    @apply w-full h-12 overflow-hidden overflow-ellipsis;
  }
  .embed .text > a {
    @apply block;
    @apply w-full pr-4;
    @apply hover:text-black;
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }
  form {
    @apply flex flex-col;
    @apply p-4;
    @apply bg-gray-700;
    @apply border-2 border-gray-600;
    @apply rounded-xl shadow-xl;
  }
  form label {
    @apply flex flex-col;
    @apply text-lg font-bold text-white;
  }
  form label span {
    @apply text-red-500;
    @apply font-semibold text-sm;
  }
  form input {
    text-indent: 0.25rem;
    @apply m-2 my-3;
    @apply py-1;
    @apply rounded-lg shadow-2xl;
    @apply text-black;
  }
  form textarea {
    @apply m-2 my-3 px-3;
    @apply py-1;
    @apply rounded-lg shadow-2xl;
    @apply text-black;
  }
  form button {
    @apply relative;
    @apply py-1;
    @apply text-white bg-green-400;
    @apply border-gray-600 border-2;
    @apply rounded-lg shadow-2xl;
    @apply font-bold text-xl;
    @apply transition-all duration-300 ease-in-out;
  }
  form button::before {
    content: " ";
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    border-radius: 50%;
    background: linear-gradient(45deg, #181818 0%, #8c8c8c 18%, #181818 40%);
    -webkit-mask-image: radial-gradient(transparent 0 13px, #000 6.5px);
            mask-image: radial-gradient(transparent 0 13px, #000 6.5px);
    @apply hidden absolute;
    @apply w-8 h-8;
    @apply opacity-30;
    @apply animate-spin;
  }
  form button.loading {
    @apply cursor-wait;
    @apply animate-pulse;
    @apply bg-gray-600;
    @apply text-opacity-0;
  }
  form button.loading::before {
    @apply block;
  }
}

@-webkit-keyframes skeleton {
  0% {
    background-position: -200px 0;
  }
  30% {
    background-position: calc(200px + 100%) 0;
  }
  100% {
    background-position: -200px 0;
  }
}

@keyframes skeleton {
  0% {
    background-position: -200px 0;
  }
  30% {
    background-position: calc(200px + 100%) 0;
  }
  100% {
    background-position: -200px 0;
  }
}
/*# sourceMappingURL=global.css.map */