@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
// TODO: For production these should be replaced with hosted WOFF's
/* Header font */
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,600;0,800;0,900;1,900&display=swap");

// Variables
:root {
    --header-font: "Overpass", sans-serif;
}

// Tailwind time
@layer components {
    // Body
    body {
        min-height: 100vh;
        max-width: 100vw;

        @apply relative;
        @apply bg-gray-900;
        @apply overflow-x-hidden;
    }

    // Headers
    h1,
    h2 {
        font-family: var(--header-font);
        font-weight: 900;
        @apply w-full;

        a {
            @apply text-green-400 text-opacity-100;
        }
    }

    // Anchor links
    a {
        @apply text-gray-400 hover:text-gray-50;
        @apply transition-colors ease-in-out duration-200;
    }

    // Header navbar
    body > header {
        @apply w-full h-24 px-12;
        @apply flex justify-between items-center;
        @apply bg-gray-900 text-white;

        // Header text
        h1 {
            @apply text-2xl tracking-widest;
        }

        // Nav bar
        nav {
            @apply w-full;
            @apply flex justify-end;
            @apply font-bold;

            a {
                @apply text-gray-400 hover:text-gray-50;

                &.active {
                    @apply text-green-400;
                }
            }

            :not(:last-child) {
                @apply mr-4;
            }
        }
    }

    // Main content
    body > main {
        @apply w-full h-full;
        @apply md:p-3 md:px-12 pb-[14.5rem] md:pb-[14.5rem];
        @apply text-white;
    }

    // Footer
    body > footer {

        @apply absolute bottom-0;
        @apply w-full h-[13.5rem];
        @apply flex flex-col items-center justify-center;
        @apply bg-gray-800;

        // Content
        section.content {
            @apply flex flex-row justify-between;
            @apply w-full;
            @apply p-4 pt-8;
            @apply text-white;

            h1 {
                @apply text-[2.33rem];
                @apply mb-2;
            }

            // Main
            .blabber {
                @apply flex flex-col items-center justify-center md:justify-start;
                @apply w-full my-0 text-center;
                @apply md:w-[25%] min-w-[24rem] md:mr-[15rem] md:ml-8 md:text-left;
                @apply text-lg;

                p {
                    @apply w-[70%] md:w-full;
                }
            }

            ul {
                @apply w-[15%];
                @apply hidden md:block;
                a {
                    @apply text-gray-400 hover:text-gray-50;
                }
            }
        }

        // Spacer
        hr {
            width: calc(100% - 2.5rem);
            @apply border-gray-900;
        }

        // Branding
        section.closing {
            @apply px-12 mt-4 mb-4;
            @apply w-full;
            @apply flex flex-row justify-between items-center;
            @apply text-green-400;
        }
    }

    // Errors
    main > section.error {
        @apply absolute left-0;
        @apply w-full h-[60%];
        @apply mb-16 p-8;
        @apply flex flex-col;
        @apply bg-no-repeat bg-center bg-contain;

        h1 {
            @apply text-4xl;
        }

        p {
            @apply text-xl;
        }
    }

    // Popups
    div.popup {
        @apply fixed top-0 left-0 z-50;
        @apply w-full h-full;
        @apply flex flex-col justify-center items-center;
        @apply bg-white bg-opacity-30;
        @apply cursor-pointer;

        > .content {
            @apply cursor-default;
        }
    }
}
